capture_directory: "~"
fixed_frame: mapviz_frame
target_frame: mapviz_frame
fix_orientation: false
rotate_90: false
enable_antialiasing: true
show_displays: true
show_status_bar: true
show_capture_tools: true
window_width: 1920
window_height: 948
view_scale: 0.04305676
offset_x: -3.371529
offset_y: -3.593889
use_latest_transforms: true
background: "#a0a0a4"
displays:
  - type: mapviz_plugins/tile_map
    name: new display
    config:
      visible: true
      collapsed: true
      custom_sources:
        - base_url: http://localhost:8080/wmts/gm_layer/gm_grid/{level}/{x}/{y}.png
          max_zoom: 19
          name: Google19
          type: wmts
      bing_api_key: ""
      source: Google19
  - type: mapviz_plugins/robot_image
    name: new display
    config:
      visible: true
      collapsed: true
      frame: robot_frame
      image: /home/leander/rhinoceROS/src/atreus/config/mapviz/rover_vector.png
      width: 5
      height: 5
      offset_x: 0
      offset_y: 0
      ratio: original