capture_directory: "~"
fixed_frame: map
target_frame: map
fix_orientation: false
rotate_90: true
enable_antialiasing: true
show_displays: true
show_status_bar: true
show_capture_tools: true
window_width: 1920
window_height: 948
view_scale: 0.05730851
offset_x: -1.170032
offset_y: 1.554701
use_latest_transforms: true
background: "#a0a0a4"
displays:
  - type: mapviz_plugins/tile_map
    name: new display
    config:
      visible: true
      collapsed: true
      custom_sources:
        - base_url: http://localhost:8080/wmts/gm_layer/gm_grid/{level}/{x}/{y}.png
          max_zoom: 19
          name: Google19
          type: wmts
      bing_api_key: ""
      source: Google19
  - type: mapviz_plugins/odometry
    name: new display
    config:
      visible: true
      collapsed: true
      topic: /odom
      color: "#00ff00"
      draw_style: points
      position_tolerance: 0
      buffer_size: 0
      show_laps: false
      show_covariance: false
      show_all_covariances: false
      static_arrow_sizes: false
      arrow_size: 1
      show_timestamps: 0
  - type: mapviz_plugins/odometry
    name: new display
    config:
      visible: true
      collapsed: true
      topic: /odometry/fused/global
      color: "#f57900"
      draw_style: points
      position_tolerance: 0
      buffer_size: 0
      show_laps: false
      show_covariance: false
      show_all_covariances: false
      static_arrow_sizes: false
      arrow_size: 25
      show_timestamps: 0
  - type: mapviz_plugins/odometry
    name: new display
    config:
      visible: true
      collapsed: true
      topic: /odometry/fused/local
      color: "#a40000"
      draw_style: points
      position_tolerance: 0
      buffer_size: 0
      show_laps: false
      show_covariance: false
      show_all_covariances: false
      static_arrow_sizes: false
      arrow_size: 1
      show_timestamps: 0
  - type: mapviz_plugins/robot_image
    name: new display
    config:
      visible: true
      collapsed: true
      frame: base_link
      image: /home/leander/rhinoceROS/src/atreus/config/mapviz/rover_vector.png
      width: 5
      height: 5
      offset_x: 0
      offset_y: 0
      ratio: custom