<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="atreus">

<gazebo>
    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
        <render_engine>ogre2</render_engine>
    </plugin>

    <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
    </plugin>

    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
    </plugin>
</gazebo>


<!-- ..................... MECANUM DRIVE ........................................... -->

<gazebo>
  <plugin filename="gz-sim-mecanum-drive-system" name="gz::sim::systems::MecanumDrive">

    <front_left_joint>front_left_wheel_joint</front_left_joint>
    <front_right_joint>front_right_wheel_joint</front_right_joint>

    <back_left_joint>back_left_wheel_joint</back_left_joint>
    <back_right_joint>back_right_wheel_joint</back_right_joint>

    <wheelbase>${wheel_base}</wheelbase>
    <wheel_separation>${wheel_separation}</wheel_separation>
    <wheel_radius>${wheel_radius}</wheel_radius>

    <odom_publish_frequency>30</odom_publish_frequency>

    <topic>cmd_vel</topic>

    <odom_topic>encoder_odom</odom_topic>

    <tf_topic>/tf</tf_topic>
    <frame_id>odom</frame_id>
    <child_frame_id>base_link</child_frame_id>

  </plugin>

</gazebo>

<!-- ............................. GAZEBO ODOM .................................... -->

<gazebo>
    <plugin filename="libgz-sim-odometry-publisher-system"
        name="gz::sim::systems::OdometryPublisher">
        <odom_frame>odom</odom_frame>
        <robot_base_frame>base_link</robot_base_frame>
        <odom_topic>gazebo_odom</odom_topic>
        <tf_topic>/tf</tf_topic>
        <dimensions>2</dimensions>
        <odom_publish_frequency>10</odom_publish_frequency>
    </plugin>
</gazebo>

<!-- ............................... IMU ............................................ -->

<link name="imu_link"/>

<joint name="imu_joint" type="fixed">
	<parent link="base_link"/>
	<child link="imu_link"/>
</joint>

<gazebo reference="imu_link">

  <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>1</update_rate>
      <visualize>true</visualize>
      <topic>imu</topic>
      <ignition_frame_id>imu_frame</ignition_frame_id>
  </sensor>

</gazebo>


<!-- ............................... CAMERA .......................................... -->

<xacro:if value="$(arg camera_enabled)">

  <gazebo reference="camera_link">

    <sensor type="depth_camera" name="kinect_camera">
        <update_rate>30.0</update_rate>
        <topic>camera</topic>
        <gz_frame_id>camera_link</gz_frame_id>
        <camera>
            <camera_info_topic>camera_info</camera_info_topic>
            <horizontal_fov>${radians(camera_horizontal_fov)}</horizontal_fov>
            <image>
                <width>640</width>
                <height>480</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.05</near>
                <far>8.0</far>
            </clip>
        </camera>
    </sensor>

  </gazebo>

</xacro:if>

<!-- ........................... 2D LIDAR PLUGIN ................................... -->

<xacro:if value="$(arg two_d_lidar_enabled)">

  <gazebo reference="two_d_lidar">
      <sensor name='gpu_lidar' type='gpu_lidar'>
          <topic>scan</topic>
          <update_rate>${two_d_lidar_update_rate}</update_rate>
          <gz_frame_id>two_d_lidar</gz_frame_id>
          <lidar>
              <scan>
                  <horizontal>
                      <samples>${two_d_lidar_sample_size}</samples>
                      <resolution>1</resolution>
                      <min_angle>${radians(two_d_lidar_min_angle)}</min_angle>
                      <max_angle>${radians(two_d_lidar_max_angle)}</max_angle>
                  </horizontal>
              </scan>
              <range>
                  <min>${two_d_lidar_min_range}</min>
                  <max>${two_d_lidar_max_range}</max>
                  <resolution>0.01</resolution>
              </range>
              <noise>
                  <type>gaussian</type>
                  <mean>0.0</mean>
                  <stddev>0.001</stddev>
              </noise>
          </lidar>
          <always_on>1</always_on>
          <visualize>true</visualize>
      </sensor>
  </gazebo>

</xacro:if>



<!--................................................................................. -->

</robot>
