<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- CONFIGURABLE ARGUMENTS -->
	<arg name="map_name" default="warehouse"/>

  <!-- Launch the map server -->
  <node name="loc_map_server" pkg="map_server" type="map_server"
			args="$(find atreus)/config/mapping/maps/$(arg map_name)_map/$(arg map_name)_map.yaml" output="screen">

      <remap from="map" to="/$(arg map_name)"/>

  </node>


</launch>
